*.so
*.o
__pycache__
**/.DS_Store
*.jpg
*.webp
*.mp4
*.pdf
modules/metadata_sweeper/test_files/
modules/traffic_shield/logs.txt
modules/traffic_shield/delete_also.txt
modules/traffic_shield/analyzer/url_analyzer/blacklist.txt
modules/traffic_shield/analyzer/url_analyzer/whitelist.txt

